.jumbotron{
	margin: 3rem auto;
	padding: 2rem 10rem;
}

table{
	width:100%;
	line-height: 0;
}

input{
	background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 5px 15px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: black;
}

input[type="submit"]{
    padding: 15px 40px;
}

input:invalid{
	border: 2px dashed red;
}

h1{
	text-align: center;
}

h5{
	text-align: center;
}